* {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 240, 240);
}

h1 {
    color: #313131;
    border-bottom: solid rebeccapurple;
    width: 50%;
    text-shadow: 0px 4px 5px #919191;
}

h2 {
    color: darkslategrey;
    border-bottom: solid rebeccapurple;
    width: 50%;
}

p {
    color: rgb(37, 0, 44);
    font-weight: 600;
}

ul {
    list-style: square;
    font-weight: 600;
}

img {
    border-radius: 50%;
    border: solid;
    border-color: rgb(171, 143, 188);
}

a {
    border: solid rgb(31, 0, 50);
    border-radius: 5px;
    
    color: black;
    text-decoration: none;
    padding: 5px;
}

a:hover {
    border: solid rgb(31, 0, 50);
    border-radius: 5px;
    background-color: #313131;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px; 
}